/* good part to wrapp images and text */
.logo-part{
    background-image: url("../images/stock-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.removeBullets{
    list-style-type: none;
}
.comment-wrapper
{
    width: 70%;
    margin: 0 auto;
}
.edit-forum-btn a{
    text-decoration: none;
    color: #fff;
}
.stock-wrapper,
.edit-stock-wrapper{
    width: 50%;
    margin: 0 auto;
}
